<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1><span class="intro-count">Hidden Christmas</span> Winter Reading Challenge</h1>
                    <hr>
                    <p>
                        Share your thoughts on our reading and let us know what you're up to!
                    </p>
                    <hr>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">The Challenge</h2>
                <p class="lead">

                    It’s on! How will you spend your winter break? It’s a battle of the trios as, Klesis, A2F and MakeNew 
                    duke it out to see who will win. Complete each of the Winter Challenges to get points for your team 
                    and grow closer together as a class. Try having some friends over for a new dish or calling your peers 
                    over video chat! How will you make the best use of your time this break? 
                </p>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">
      
</div>


<div class="content-section-a">

</div>

