.background-submit-post {
    background: image-url('intro-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}

.post-preview {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 0.5em solid transparent;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    
    height: 28vw;
    max-height: 350px;
    
    @media screen and (max-width: 770px) {
        height: 45vw;
    }

    &:hover {
        .post-preview-text {
            box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
            color: #fff;
        }
    }
}

.post-preview-text {
    position: absolute;
    z-index: 2;
    padding: 0.5em 2em 1em;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.4);
    color: rgb(200, 200, 200);
    overflow: hidden;
}

.post-preview-media {
    position: absolute;
    height: 100%;
    // z-index: -1;
}
